body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', "Pokemon Solid",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, body {
  font-family: "Pokemon Solid", sans-serif;
}

h3, h3 {
  font-family: "Pokemon Solid", sans-serif;
}
/* profile page styling */
.prof-page-container {
  background-color: #6b7fd7;
  min-height: 100vh;
  min-width: 100vw;
}

.profile-header {
  justify-content: center;
  margin-top: 20px !important;
  padding: 12px !important;
  background-color: maroon;
  font-family: "Pokemon Solid", sans-serif;
  width: 100px;
  border: 2px solid #4C3549;
  border-radius: 5px;
}

.profile-btn {
  margin: 10px !important;
  border: 1px solid black;
  border-radius: 5px;
}

/* Bio styling */

.ui .bio-form {
  margin: 10px;
  padding: 20px 15px;
  background-color: #6E8387;
  color: aliceblue;
}

.labels {
    padding: 10px !important;
}

/* Wishlist Styling */
#segment{
  background: transparent;
  background-color: #883955;
  color: aliceblue;
}

/* Footer styling */

.main-footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #4C3549;
}

#header {
  font-family: "Pokemon Solid", sans-serif;
}

/* Registration Styling */
.ui.page-container {
  margin: auto;
  padding: 15px;
  border: 2px solid #4C3549;
  background-color: #6E8387;
  min-height: 100vh;
  min-width: 100vw;
}

.ui.register-header-text, .header-header {
  font-family: "Pokemon Solid", sans-serif;
}

/* Card Container Styling */

.user-card-container {
  text-align: center;
  min-height: 100vh;
  min-width: 75vw;
  background-color: #883955;
}

/* Footer Styling */

.footer-page {
  background-color: #4C3549;
}